.formMain{
    background-color: #11351E;
    padding: 15px;
    margin-top: 130px;
    margin-right: 18%;
    color: white;
    border-radius: 16px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 330px;
}

.formMain button{
    background-color: #CDcce8;
    margin-top: 25px;
    color: #11351E;
    font-weight: 700;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.formMain button:hover{
    background-color: #8c8b9f;
}

.formIn{
    display: flex;
    flex-direction:column;
    align-items: self-start;
    padding: 10px;
}

.formIn input{
    width: 95%;
    background: transparent;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px 2px #888888;
    padding: 6px;
    color: white;
}